<ul class="nav">
{% for post in postslist | reverse %}
  <li class="post">
    {% if metadata.config.showDateList %}&#128467; <time datetime="{{ post.date | readableDateString }}">{{ post.date | readableDateString }}</time><span> &middot </span>{% endif %}
    <a class="title" href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    &middot;
    &#128337; {{ post | readingTime }}
  </li>
{% endfor %}
</ul>
